---
import { url } from "../scripts/url";
---

<header
    class="sticky top-0 z-50 border-b border-neutral-200 bg-neutral-50 antialiased px-6 md:px-20 lg:px-40"
>
    <div class="flex h-13 justify-between max-w-270 mx-auto">
        <a
            href={url("/")}
            class="flex items-center align-middle gap-1 text-[15px] font-semibold text-neutral-900 no-underline"
        >
            <img
                class="h-8 w-8 m-auto"
                src={url("/bastion-logo.svg")}
                alt="Bastion Logo"
            />
            <span>Sentinel Systems</span>
        </a>

        <nav class="flex items-center gap-4">
            <a
                href={url("/")}
                class="rounded-md px-2.5 py-1.5 text-[13px] text-neutral-500 transition-colors hover:bg-neutral-100 hover:text-neutral-900"
            >
                Parser
            </a>
            <a
                href={url("/docs/")}
                class="rounded-md px-2.5 py-1.5 text-[13px] text-neutral-500 transition-colors hover:bg-neutral-100 hover:text-neutral-900"
            >
                Docs
            </a>
            <a
                href={url("/api/")}
                class="rounded-md px-2.5 py-1.5 text-[13px] text-neutral-500 transition-colors hover:bg-neutral-100 hover:text-neutral-900"
            >
                API
            </a>
        </nav>
    </div>
</header>
