---
// TIP: prose-[element]:class-to-apply

// DASH STYLES [&_ul]:list-none [&_ul]:pl-0 [&_ul>li]:relative [&_ul>li]:pl-4 [&_ul>li::before]:content-['-'] [&_ul>li::before]:absolute [&_ul>li::before]:left-0
---

<div
    class="prose leading-5.5 font-sans prose-li:marker:text-black text-black prose-headings:font-mono"
>
    <slot />
</div>
